.sec1, .sec2, .sec3, .sec4 {
    font-size: 30px;
    font-weight: 100;
    border: rgb(61, 18, 18);
    border-style: dotted;
    border-radius: 20px;
}

.sec1 {
    grid-column: 1 / 4;
    grid-row: 1 / 7;
}
  
.sec2 {
    grid-column: 4 / 11;
    grid-row: 1 / 7;
}
  
.sec3 {
    grid-column: 1 / 6;
    grid-row: 7 / 11;
}
  
.sec4 {
    grid-column: 6 / 11;
    grid-row: 7 / 11;
}

.login {
    margin-top: 10%;
}