{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="wrapper" style="text-align: center;">
    <h1>회원가입</h1>
    <form method="POST">
        {% csrf_token %}
        {% include "form_errors.html" %}
        ID: <br>
        <input type="email" class="form-control" name="email" id=email"
                   value="{{ form.email.value|default_if_none:'' }}">

        <br>
        PASSWORD: 8 or more characters <br>
        <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">

        <br>
        Check password: <br>
        <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">

        <input type="submit" class="btn btn-primary" value="Sign Up">
    </form>
</div>
{% endblock %}

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
